[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	push = +force group Asus Zenfone 6 Maintainers
	label-Code-Review = -2..+2 group Asus Zenfone 6 Maintainers
	label-Verified = -1..+1 group Asus Zenfone 6 Maintainers
	submit = group Asus Zenfone 6 Maintainers
	create = group Asus Zenfone 6 Maintainers
	pushMerge = group Asus Zenfone 6 Maintainers
[access "refs/for/refs/heads/*"]
	pushMerge = group Asus Zenfone 6 Maintainers
