[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	owner = group Asus Zenfone 6 Maintainers
	abandon = group Asus Zenfone 6 Maintainers
	addPatchSet = group Asus Zenfone 6 Maintainers
	push = +force group Asus Zenfone 6 Maintainers
	label-Code-Review = -2..+2 group Asus Zenfone 6 Maintainers
	label-Verified = -1..+1 group Asus Zenfone 6 Maintainers
	removeReviewer = group Asus Zenfone 6 Maintainers
	submit = group Asus Zenfone 6 Maintainers
	editTopicName = group Asus Zenfone 6 Maintainers
	editAssignee = group Asus Zenfone 6 Maintainers
